article#intro {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

article#intro #bgdVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

article#intro .container {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(241, 241, 241, 0.4);
  width: 100%;
}

article#intro .container header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

article#intro .container header h1 {
  font-size: 50px;
  text-transform: lowercase;
  text-align: center;
}

article#intro .container header h1 .name {
  color: rgba(241, 241, 241, 0.6);
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 3px;
}

article#intro .container header .btnIntro {
  margin: 0 auto;
  margin-top: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 200px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #f1f1f1;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

article#intro .container header .btnIntro:hover {
  background: rgba(0, 0, 0, 0.7);
}

article#intro .container header .btnIntro:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.8);
}

article#about {
  overflow-y: hidden;
}

article#about .container {
  padding: 0;
}

article#about .container .aboutIntro {
  min-height: calc(100vh - 150px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article#about .container .aboutIntro .aboutBoxIntro {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

article#about .container .aboutIntro .aboutBoxIntro.wedding {
  background-image: url(/images/about/wedding0.jpg);
}

article#about .container .aboutIntro .aboutBoxIntro.brideGroom {
  background-image: url(/images/about/groomBride0.jpg);
}

article#about .container .aboutIntro .aboutBoxIntro.children {
  background-image: url(/images/about/children0.jpg);
}

article#about .container .aboutIntro .aboutBoxIntro.family {
  background-image: url(/images/about/family0.jpg);
}

article#about .container .aboutIntro .aboutBoxIntro.artistic {
  background-image: url(/images/about/artistic0.jpg);
}

article#about .container .aboutIntro .aboutBoxIntro.landscapes {
  background-image: url(/images/about/landscapes0.jpg);
}

article#about .container .aboutIntro .aboutBoxIntro .closeBtn {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 20px;
  right: 20px;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  color: red;
}

article#about .container .aboutIntro .aboutBoxIntro .closeBtn img {
  width: 100%;
  padding: 20px;
  opacity: 0.5;
  transition: opacity .1s ease-in-out;
}

article#about .container .aboutIntro .aboutBoxIntro .closeBtn:hover img {
  opacity: 1;
}

article#about .container .aboutIntro .aboutBoxIntro .boxTitle {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(4, 70, 120, 0.4);
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  transition: all .8s ease-in-out;
  cursor: pointer;
  color: #ffffff;
}

article#about .container .aboutIntro .aboutBoxIntro .boxTitle:hover {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 2px black, 0 0 6px black, 0 0 10px black;
}

article#about .container .aboutIntro .aboutBoxIntro .showMoreBtn {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background: #0a4c7e;
  padding: 10px;
  display: none;
  width: 260px;
  text-align: center;
  font-size: 26px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 -2px 4px black;
  transition: all .3s ease-in-out;
}

article#about .container .aboutIntro .aboutBoxIntro .showMoreBtn:hover {
  background: #0a257e;
  box-shadow: 0 -1px 2px black;
}

article#about .container .aboutIntro .aboutBoxIntro.grow {
  position: absolute;
  height: calc(100vh - 150px);
  width: 90%;
}

article#about .container .aboutIntro .aboutBoxIntro.grow .closeBtn {
  display: block;
}

article#about .container .aboutIntro .aboutBoxIntro.grow .boxTitle {
  background: rgba(0, 0, 0, 0);
  cursor: default;
  font-size: 80px;
  text-shadow: 0 0 2px black, 0 0 6px black, 0 0 10px black;
}

article#about .container .aboutIntro .aboutBoxIntro.grow .showMoreBtn {
  display: block;
}

article#about .container .aboutIntro .aboutBoxIntro.hide {
  display: none;
}

article#about .container section.aboutDetails {
  height: calc(100vh - 150px);
  display: none;
  visibility: hidden;
  position: relative;
  -ms-flex-direction: column;
      flex-direction: column;
}

article#about .container section.aboutDetails.wedding .four {
  background: url(/images/about/wedding4.jpg);
}

article#about .container section.aboutDetails.brideGroom .four {
  background: url(/images/about/groomBride4.jpg);
  background-position: bottom;
}

article#about .container section.aboutDetails.children .four {
  background: url(/images/about/children4.jpg);
  background-position: bottom;
}

article#about .container section.aboutDetails.family .four {
  background: url(/images/about/family2.jpg);
}

article#about .container section.aboutDetails.artistic .four {
  background: url(/images/about/artistic4.jpg);
}

article#about .container section.aboutDetails.landscapes .four {
  background: url(/images/about/landscapes4.jpg);
}

article#about .container section.aboutDetails .backBtn {
  position: absolute;
  right: 0;
  top: 0;
  color: #ffffff;
  background: #0a4c7e;
  font-size: 24px;
  padding: 10px;
  border-bottom-left-radius: 30px;
  box-shadow: -1px 1px 4px black;
  z-index: 997;
  transition: all .3s ease-in-out;
}

article#about .container section.aboutDetails .backBtn:hover {
  background: #0a257e;
  box-shadow: 1px -1px 4px black;
}

article#about .container section.aboutDetails .open {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden;
}

article#about .container section.aboutDetails .open .fa-search-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  color: #0a4c7e;
  opacity: 0;
}

article#about .container section.aboutDetails .open.three {
  -ms-flex-align: end;
      align-items: flex-end;
}

article#about .container section.aboutDetails .open.six {
  -ms-flex-align: end;
      align-items: flex-end;
}

article#about .container section.aboutDetails .open img {
  width: 100%;
  opacity: .8;
  transition: all .3s ease-in-out;
}

article#about .container section.aboutDetails .open:hover {
  cursor: pointer;
}

article#about .container section.aboutDetails .open:hover img {
  opacity: 1;
}

article#about .container section.aboutDetails .open:hover .fa-search-plus {
  opacity: 1;
}

article#about .container section.aboutDetails .top {
  position: relative;
  height: 75%;
  display: -ms-flexbox;
  display: flex;
}

article#about .container section.aboutDetails .top .side {
  width: 25%;
  height: 100%;
  border-left: 1px solid #0a4c7e;
}

article#about .container section.aboutDetails .top .side .open {
  border-top: 1px solid #0a4c7e;
}

article#about .container section.aboutDetails .top .side .open:last-child {
  border-bottom: 1px solid #0a4c7e;
}

article#about .container section.aboutDetails .top .side .first {
  overflow: hidden;
  height: calc(100% / 3);
}

article#about .container section.aboutDetails .top .side .two {
  overflow: hidden;
  height: calc(100% / 3);
}

article#about .container section.aboutDetails .top .side .three {
  height: calc(100% / 3);
}

article#about .container section.aboutDetails .top .main {
  width: 75%;
}

article#about .container section.aboutDetails .top .main .four {
  height: 100%;
  width: 100%;
  padding: 2px;
  border: 2px solid #0a4c7e;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-position: center;
  background-size: cover;
}

article#about .container section.aboutDetails .top .main .four .content {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
}

article#about .container section.aboutDetails .top .main .four .content p {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 20px;
  color: #ffffff;
  padding: 30px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
}

article#about .container section.aboutDetails .bottom {
  height: 25%;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #0a4c7e;
}

article#about .container section.aboutDetails .bottom div {
  height: 100%;
  width: 25%;
  border-left: 1px solid #0a4c7e;
}

article#about .container section.aboutDetails .bottom div:last-child {
  border-right: 1px solid #0a4c7e;
}

article#about .container section.aboutDetails.show {
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: none;
}

.overlay .modal {
  background: #0a4c7e;
  height: 90%;
  position: absolute;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 4px solid #0a4c7e;
  border-radius: 4px;
  z-index: 1000;
  display: none;
}

.overlay .modal .close-modal {
  position: absolute;
  top: 30px;
  right: 20px;
  height: 50px;
  cursor: pointer;
}

.overlay .modal.open {
  display: -ms-flexbox;
  display: flex;
}

.overlay .modal img {
  max-height: 100%;
}

.overlay.open {
  display: -ms-flexbox;
  display: flex;
}

article#store .subpageTitle {
  color: #0a4c7e;
  text-align: center;
  font-size: 40px;
  border-bottom: 4px solid #0a4c7e;
}

article#store .productsContainer {
  padding-top: 30px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

article#store .productsContainer .productBox {
  box-shadow: 0 0 4px #0a4c7e;
  border-radius: 6px;
  width: 23%;
  color: #0a4c7e;
  margin-bottom: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 700;
}

article#store .productsContainer .productBox .productTitle, article#store .productsContainer .productBox .productPrice {
  padding: 10px 0;
  font-size: 24px;
}

article#store .productsContainer .productBox .imgWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

article#store .productsContainer .productBox .imgWrapper img {
  border: 1px solid black;
  border-radius: 6px;
  width: 200px;
  width: 90%;
  transition: ease-in-out .3s;
}

article#store .productsContainer .productBox .imgWrapper img:hover {
  cursor: zoom-in;
}

article#store .productsContainer .productBox .imgWrapper img.scale {
  transform: scale(1.8);
  cursor: zoom-out;
}

article#store .productsContainer .productBox .btnWrapper {
  width: 100%;
  border-top: 2px solid  #b8ccd9;
  text-align: center;
}

article#store .productsContainer .productBox .btnWrapper button {
  font-size: 20px;
  margin: 20px 0;
  padding: 10px;
  background: #0a4c7e;
  height: 50px;
  width: 180px;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

article#store .productsContainer .productBox .btnWrapper button:hover {
  background: #0a257e;
}

article#store .cart {
  border-top: 4px solid #0a4c7e;
  font-size: 26px;
}

article#store .cart h1 {
  text-align: center;
  font-size: 40px;
}

article#store .cart .cartRowHeader {
  font-size: 30px;
}

article#store .cart .cartRowHeader .cartRowName, article#store .cart .cartRowHeader .cartRowPrice, article#store .cart .cartRowHeader .cartRowQuantity {
  border-bottom: 2px solid #0a4c7e;
}

article#store .cart .cartRowHeader, article#store .cart .cartProductRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 10px 0;
}

article#store .cart .cartRowHeader .cartRowName, article#store .cart .cartProductRow .cartRowName {
  min-width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

article#store .cart .cartRowHeader .cartRowPrice, article#store .cart .cartProductRow .cartRowPrice {
  display: -ms-flexbox;
  display: flex;
  width: 24%;
}

article#store .cart .cartRowHeader .cartRowQuantity, article#store .cart .cartProductRow .cartRowQuantity {
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

article#store .cart .cartRowHeader {
  margin-bottom: 20px;
  font-weight: bold;
}

article#store .cart .cartProductRow {
  box-shadow: 1px 1px 4px #0a4c7e;
  margin-bottom: 20px;
}

article#store .cart .cartProductRow .cartRowName {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

article#store .cart .cartProductRow .cartRowPrice {
  -ms-flex-pack: center;
      justify-content: center;
  font-weight: bold;
}

article#store .cart .cartProductRow .cartRowQuantity {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

article#store .cart .cartProductRow .cartRowQuantity input {
  height: 70px;
  width: 70px;
  font-size: 30px;
  text-align: center;
  border: none;
  background: lightgrey;
  border-radius: 6px;
}

article#store .cart .cartProductRow .cartRowQuantity input:focus {
  outline: none;
  background: grey;
}

article#store .cart .cartProductRow .cartRowQuantity button {
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
}

article#store .cart .cartProductRow .cartRowQuantity button i {
  color: red;
  font-size: 30px;
}

article#store .cart .cartProductRow .cartRowQuantity button:focus {
  outline: none;
  transform: scale(1.1);
}

article#store .cart .cartProductRow .cartRowQuantity button:hover {
  background: red;
  color: #ffffff;
}

article#store .cart .cartProductRow .cartRowQuantity button:hover i {
  color: #ffffff;
}

article#store .cart .totalPriceSection {
  font-size: 30px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  width: 50%;
  border-top: 2px solid #0a4c7e;
  padding: 10px;
}

article#store .cart .totalPriceSection .totalTitle {
  margin-right: 20px;
}

article#store .cart .totalPriceSection .totalPrice {
  font-size: 40px;
  font-weight: bold;
}

article#store .cart .purchaseSection {
  height: 140px;
  border-top: 2px solid #0a4c7e;
  border-bottom: 2px solid #0a4c7e;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 20px 0;
}

article#store .cart .purchaseSection a {
  background: #0a4c7e;
  border-radius: 12px;
  padding: 20px 30px;
  cursor: pointer;
}

article#store .cart .purchaseSection a:hover {
  background: #0a257e;
}

article#store .cart img {
  width: 140px;
}

article#store #toTopButton {
  color: #0a4c7e;
  font-size: 50px;
  position: fixed;
  right: 30px;
  bottom: 100px;
  cursor: pointer;
  transition: all ease-in-out .5s;
  opacity: 0;
}

article#store #toTopButton:hover {
  color: #0a257e;
}

article#store #toTopButton.appear {
  opacity: 1;
  cursor: none;
}

article#contact .container {
  height: calc(100vh - 150px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

article#contact .container .subpageTitle {
  color: #0a4c7e;
  text-align: center;
  font-size: 40px;
  border-bottom: 4px solid #0a4c7e;
}

article#contact .container .top, article#contact .container .bottom {
  display: -ms-flexbox;
  display: flex;
  min-height: 47%;
}

article#contact .container .west, article#contact .container .east {
  min-width: 50%;
}

article#contact .container .top {
  margin-top: 20px;
}

article#contact .container .top .west {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

article#contact .container .top .west .contactDetailsWrapper {
  min-width: 90%;
  color: #0a4c7e;
}

article#contact .container .top .west .contactDetailsWrapper div {
  margin: 10px 0;
}

article#contact .container .top .west .contactDetailsWrapper .title {
  font-size: 34px;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

article#contact .container .top .west .contactDetailsWrapper .subtitle {
  font-size: 28px;
}

article#contact .container .top .west .contactDetailsWrapper .contactDetail, article#contact .container .top .west .contactDetailsWrapper .sm {
  width: 40%;
}

article#contact .container .top .west .contactDetailsWrapper .contactDetail i, article#contact .container .top .west .contactDetailsWrapper .sm i {
  width: 16%;
  text-align: center;
}

article#contact .container .top .west .contactDetailsWrapper .contactDetail {
  font-size: 22px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 26px;
}

article#contact .container .top .west .contactDetailsWrapper .sm a {
  font-size: 26px;
  color: #0a4c7e;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -ms-flex-align: center;
      align-items: center;
}

article#contact .container .top .west .contactDetailsWrapper .sm a:hover {
  color: #232323;
}

article#contact .container .top .west .contactDetailsWrapper .sm a:hover .fa-facebook-square {
  color: #3b5998;
}

article#contact .container .top .west .contactDetailsWrapper .sm a:hover .fa-instagram {
  vertical-align: middle;
  color: #d6249f;
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

article#contact .container .top .west .contactDetailsWrapper .sm a:hover .fa-youtube {
  color: #c4302b;
}

article#contact .container .top .west .contactDetailsWrapper .sm a:hover .fa-twitter {
  color: #3b5998;
}

article#contact .container .top .east {
  background-image: url(/images/contactBgd.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

article#contact .container .bottom {
  -ms-flex-direction: column;
      flex-direction: column;
}

article#contact .container .bottom form {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: center;
      justify-content: center;
}

article#contact .container .bottom form .west {
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
}

article#contact .container .bottom form .west .inputRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
}

article#contact .container .bottom form .west .inputRow textarea {
  width: 100%;
  height: 80%;
  border: 2px solid #b8ccd9;
  font-size: 24px;
  padding: 10px;
  border-radius: 6px;
}

article#contact .container .bottom form .west .inputRow textarea:focus {
  outline: 0;
  border-color: #0a4c7e;
}

article#contact .container .bottom form .west .inputRow small {
  color: #e74c3c;
  bottom: 0;
  left: 0;
  font-size: 20px;
  visibility: hidden;
}

article#contact .container .bottom form .west .inputRow.success textarea {
  border-color: #2ecc71;
}

article#contact .container .bottom form .west .inputRow.error textarea {
  border-color: #e74c3c;
}

article#contact .container .bottom form .west .inputRow.error small {
  visibility: visible;
}

article#contact .container .bottom form .east {
  display: -ms-flexbox;
  display: flex;
}

article#contact .container .bottom form .east .left {
  padding: 30px;
  min-width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
}

article#contact .container .bottom form .east .left .inputRow {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

article#contact .container .bottom form .east .left .inputRow label {
  font-size: 26px;
  display: -ms-flexbox;
  display: flex;
}

article#contact .container .bottom form .east .left .inputRow input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #b8ccd9;
  border-radius: 6px;
}

article#contact .container .bottom form .east .left .inputRow input:focus {
  outline: 0;
  border-color: #0a4c7e;
}

article#contact .container .bottom form .east .left .inputRow i {
  position: absolute;
  top: 54px;
  right: 14px;
  font-size: 20px;
  visibility: hidden;
}

article#contact .container .bottom form .east .left .inputRow small {
  color: #e74c3c;
  bottom: 0;
  left: 0;
  font-size: 20px;
  visibility: hidden;
}

article#contact .container .bottom form .east .left .inputRow.success input {
  border-color: #2ecc71;
}

article#contact .container .bottom form .east .left .inputRow.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

article#contact .container .bottom form .east .left .inputRow.error input {
  border-color: #e74c3c;
}

article#contact .container .bottom form .east .left .inputRow.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

article#contact .container .bottom form .east .left .inputRow.error small {
  visibility: visible;
}

article#contact .container .bottom form .east .right {
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  min-width: 50%;
}

article#contact .container .bottom form .east .right button {
  font-size: 24px;
  width: 200px;
  letter-spacing: 2px;
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 10px;
  background: #0a4c7e;
  cursor: pointer;
}

article#contact .container .bottom form .east .right button:hover {
  background: #0a257e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.preload {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0a4c7e;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  transition: all 0.5s ease;
}

.cloud1, .cloud2, .cloud3 {
  height: 100px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 3s ease infinite;
}

.cloud2 {
  top: 50%;
  transform: translate(100%, -50%);
  animation: clouds 3s ease infinite 2s;
}

.cloud3 {
  top: 75%;
  transform: translate(100%, -75%);
  animation: clouds 3s ease infinite 1.5s;
}

.airplane {
  height: 200px;
  animation: airplane 1s ease infinite alternate;
}

.preload h3 {
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  color: #ffffff;
  font-size: 30px;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

@keyframes airplane {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}

header#main {
  background: #ffffff;
  background: #f3f3f3;
  box-shadow: 0 1px 2px #0a4c7e;
  width: 100%;
  position: fixed;
  z-index: 998;
}

header#main nav {
  max-width: 96%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

header#main nav .logo {
  padding: 10px 0;
  width: 10%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
}

header#main nav .logo img {
  height: 80px;
}

header#main nav ul {
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  list-style: none;
}

header#main nav ul li a {
  padding: 10px;
  margin: 10px;
  color: #0a4c7e;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all .2s ease-in-out;
}

header#main nav ul li a:hover, header#main nav ul li a:focus, header#main nav ul li a:active {
  border-bottom: 3px solid #0a4c7e;
}

footer {
  background: #c0c0c0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 998;
  left: 0;
  right: 0;
  box-shadow: 0 -1px 2px black;
}

footer .container {
  max-width: 96%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 10px;
}

footer .container .pageName {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 22px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
}

footer .container .pageName img {
  height: 40px;
  margin-right: 20px;
}

footer .container ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
}

footer .container ul li a {
  color: black;
  font-size: 30px;
  padding: 6px;
  margin: 0 10px;
}

footer .container ul li a:hover i {
  transform: scale(1.1);
}

footer .container ul li a:hover i.fa-youtube {
  color: #c4302b;
}

footer .container ul li a:hover i.fa-instagram {
  vertical-align: middle;
  color: #d6249f;
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

footer .container ul li a:hover i.fa-facebook-square {
  color: #3b5998;
}

article {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

article .container {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */