$color-blue: rgb(10, 76, 126);
$color-blue-hover: #0a257e;
$color-white: #ffffff;
$z-index-header-footer: 998;

@import "./views/welcome";
@import "./views/about";
@import "./views/store";
@import "./views/contact";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $color-white;
  text-decoration: none;
}

.preload {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

  .airplane {
    height: 200px;
    animation: airplane 1s ease infinite alternate;
  }

  // h3 {
  //   position: absolute;
  //   top: 75%;
  //   transform: translateY(-75%);
  //   color: $color-white;
  //   font-size: 30px;
  // }
  
  .cloud1, .cloud2, .cloud3 {
    height: 100px;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  
  .cloud1 {
    top: 25%;
    transform: translate(100%, -25%);
    animation: clouds 3s ease infinite;
  }
  .cloud2 {
    top: 50%;
    transform: translate(100%, -50%);
    animation: clouds 3s ease infinite 2s;
  }
  .cloud3 {
    top: 75%;
    transform: translate(100%, -75%);
    animation: clouds 3s ease infinite 1.5s;
  }
  
  @keyframes airplane  {
    from{
      transform: translateY(0);
    }
    to{
      transform: translateY(50px);
    }
  }
  
  @keyframes clouds {
    from {
      right: 0%;
    }
    to {
      right: 130%;
    }
  }
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}


header#main {
  background: $color-white;
  background: #f3f3f3;
  box-shadow: 0 1px 2px $color-blue;
  width: 100%;
  position: fixed;
  z-index: $z-index-header-footer;

  nav {
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      padding: 10px 0;
      width: 10%;
      display: flex;
      justify-content: center;
      text-align: center;

      img {
        height: 80px;
      }
    }

    ul {
      width: 90%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;

      li {

        a {
          padding: 10px;
          margin: 10px;
          color: $color-blue;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 2px;
          transition: all .2s ease-in-out;

          &:hover, &:focus, &:active {
            border-bottom: 3px solid $color-blue;
          }
        }
      }
    }
  }

  .hamburger {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: none;
    
    i {
      position: absolute;
      color: $color-blue;
      font-size: 50px;
      opacity: 0;
      transition: all .1s ease-in-out;

      &.fa-times {
        color: $color-white;
      }

      &.act {
        opacity: 1;
      }
    }
  }
}

footer {
  background: #c0c0c0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: $z-index-header-footer;
  left: 0;
  right: 0;
  box-shadow: 0 -1px 2px black;

  .container {
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .pageName {
      display: flex;
      align-items: center;

      img {
        height: 40px;
        margin-right: 20px;
      }

      p {
        font-size: 22px;
        color: black;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: bold;
      }
    }

    ul {
      list-style: none;
      display: flex;

      li {
        a {
          color: black;
          font-size: 30px;
          padding: 6px;
          margin: 0 10px;

          &:hover i {
            transform: scale(1.1);

            &.fa-youtube {
              color: #c4302b;
            }

            &.fa-instagram {
              vertical-align: middle;
              color: #d6249f;
              color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }

            &.fa-facebook-square {
              color: #3b5998;
            }
          }

          &.mobile {
            display: none;

            &:hover i {
              color: $color-blue;
            }
          }
        }
      }
    }
  }
}

article {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;

  // display: none;

  .container {
    padding: 10px;
  }
}

@media (max-width: 767px) {

  * {
    scroll-padding-top: 0;
  }

  header#main {
    box-shadow: none;

    .hamburger {
      
      display: flex;
    }
  
    nav {
      max-width: 100%;
  
      .logo {
        display: none;
      }
  
      ul {
        position: fixed;
        min-height: calc(100vh - 42px);
        flex-direction: column;
        background: $color-blue;
        left: -100%;
        width: 100%;
        position: fixed;
        justify-content: flex-end;
        transition: transform .3s;
  
        li {
          border-top: 1px solid $color-white;
          height: 120px;
          text-align: right;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          
          a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0;
            height: 100%;
            color: $color-white;
            width: 100%;
            font-size: 40px;
          }
        }

        &.active {
          transform: translateX(100%);
        }
      }
    }
  }

  footer {
    .container {
      max-width: 100%;

      .pageName {
        p {
          display: none;
        }
      }
  
      ul {
        li {
          a {
            &.desktop {
              display: none;
            }
            &.mobile {
              display: flex;
            }
          }
        }
      }
    }
  }
}