$color-blue: rgb(10, 76, 126);
$color-blue-hover: #0a257e;
$color-white: #ffffff;

@import "./views/welcome";
@import "./views/store";
@import "./views/contact";



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $color-white;
  text-decoration: none;
}

.preload {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.cloud1, .cloud2, .cloud3 {
  height: 100px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 3s ease infinite;
}
.cloud2 {
  top: 50%;
  transform: translate(100%, -50%);
  animation: clouds 3s ease infinite 2s;
}
.cloud3 {
  top: 75%;
  transform: translate(100%, -75%);
  animation: clouds 3s ease infinite 1.5s;
}

.airplane {
  height: 200px;
  animation: airplane 1s ease infinite alternate;
}

.preload h3 {
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  color: #fff;
  font-size: 30px;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

@keyframes airplane  {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(50px);

  }
}

@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}


header#main {
  background: $color-white;
  background: #f3f3f3;
  box-shadow: 0 1px 2px $color-blue;
  width: 100%;
  position: fixed;
  z-index: 100;

  nav {
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      padding: 10px 0;
      width: 10%;
      display: flex;
      justify-content: center;
      text-align: center;

      img {
        height: 80px;
      }
    }

    ul {
      width: 90%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;

      li {

        a {
          padding: 10px;
          margin: 10px;
          color: $color-blue;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 2px;
          transition: all .2s ease-in-out;

          &:hover, &:focus, &:active {
            border-bottom: 3px solid $color-blue;
          }
        }
      }
    }
  }
}

footer {
  // background: $color-blue;
  background: #f3f3f3;
  background: #c0c0c0;
  position: fixed;
  bottom: 0;
  width: 100%;
  
  left: 0;
  right: 0;
  box-shadow: 0 -1px 2px black;

  .container {
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .pageName {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: bold;
      img {
        height: 40px;
        margin-right: 20px;
      }
    }

    ul {
      list-style: none;
      display: flex;

      li {
        a {
          color: black;
          font-size: 30px;
          padding: 6px;
          margin: 0 10px;

          &:hover i {
            transform: scale(1.1);

            &.fa-youtube {
              color: #c4302b;
            }
            &.fa-instagram {
              vertical-align: middle;
              color: #d6249f;
              color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }
            &.fa-facebook-square {
              color: #3b5998;
            }
          }
        }
      }
    }
  }
}

article {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;

  .container {
    padding: 10px;
  }
}




// article#about {


//   .container {
//     padding: 0;

//     .aboutIntro {
//       background: grey;
//       height: calc(100vh - 150px);
//       display: flex;
//       flex-wrap: wrap;

//       .mainBox {
//         width: 50%;
//         min-height: 33%;
//         background-position: center;
//         background-size: cover;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         cursor: pointer;

//         &.wedding {
//           background: red;
//           // background-image: url(/images/wedding1.jpg);
//         }
//         &.brideGroom {
//           background: blue;
//           // background-image: url(/images/groomBride1.jpg);
//         }
//         &.children {
//           background: green;
//           // background-image: url(/images/children1.jpg);
//         }
//         &.family {
//           background: yellow;
//           // background-image: url(/images/family1.jpg);
//         }
//         &.artistic {
//           background: brown;
//           // background-image: url(/images/artistic1.jpg);
//         }
//         &.landscapes {
//           background: magenta;
//           // background-image: url(/images/landscapes1.jpg);
//         }

//         // &:hover h1 {
//         //   background: rgba(0, 0, 0, 0);
//         //   text-shadow: 0 0 2px black,        //               0 0 4px black,
//         //               0 0 8px black,
//         //               0 0 12px black;
//         // }



//         h1 {
//           margin: 0;
//           padding: 0;
//           // display: flex;
//           // justify-content: center;
//           // align-items: center;
//           // text-transform: uppercase;
//           // letter-spacing: 3px;
//           // color: #fff;
//           font-size: 30px;
//           // background: rgba(0, 0, 0, 0.5);
//           // width: 100%;
//           // height: 100%;
//           transition: ease 0.3s;
//         }

//         &.grow {
//           height: calc(100vh - 150px);
//           width: 90%;
//           position: absolute;

//           // background: blue;
//         }

//         &.hide {
//           background: red;
//           // display: none;
//         }

        
//       }
//     }
//   }

// }
